apiVersion: apps/v1
kind: Deployment
metadata:
 name: backend
 labels:
   app: python
spec:
 replicas: 3
 selector:
   matchLabels:
     app: python
 template:
   metadata:
     labels:
       app: python
   spec:
     containers:
     - name: python
       image: python:3.9-slim
       ports:
       - containerPort: 5000
